{% extends 'base.html.twig' %}
{% block body %}


    <a href="{{ path('bllist') }}"><button class="btn btn-primary" style="width: 800px; height: 100px">
        BONS DE LIVRAISON
    </button></a>
    <a href="{{ path('factlist') }}"><button class="btn btn-primary" style="width: 800px; height: 100px">
        FACTURES
    </button></a>
    <a href="{{ path('bl_homepage') }}"><button style="width: 800px; height: 100px">
        Revenir sur la page d'accueil
    </button></a>

{% endblock %}

{% block stylesheets %}
    <style>
        * {text-align:center;}
        button {
            margin-top: 80px;
        }
    </style>
{% endblock %}