{% extends 'base.html.twig' %}
{% block body %}
<a href="{{ path('listearticles') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
        CONSULTER LES ARTICLES
    </button></a>
<a href="{{ path('clients') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
        VOIR MES CLIENTS
    </button></a>
<a href="{{ path('archives') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
        CONSULTER LES ARCHIVES
    </button></a>
{% endblock %}