{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="well">
        <h1>BON DE LIVRAISON</h1>
        <h2>N. {{ bl.id }}</h2>
    </div>
    <div class="jumbotron" id="listebl">
      
    </div>

    {#    ci-dessus la div à imprimer#}

    <div class="row endpage">

        <div class="well">
          <a href="{{ path('accueil') }}"><button class="btn btn-success glyphicon glyphicon-print" style="width: 300px; height: 60px"> Imprimer</button></a>
          <a href="{{ path('bl') }}"><button class="btn btn-primary" style="width: 300px; height: 60px">MODIFIER</button></a>
          <a href="{{ path(('blprint'), {'id':bl.id }) }}"><button class="btn btn-success" style="width: 300px; height: 60px">OK</button></a>
        </div>
    </div>
    </div>

{% endblock %}
{% block stylesheets %}
    <style>
        body
        {
            margin:5%;
        }
        button {
            margin-top: 40px;
        }
    </style>
{% endblock %}
