{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="well titre" for="fiche">FICHE CLIENT</div>
    <div class="well">
          {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          {{ form(form) }}
          <button class="btn btn-primary btn-success" style="width: 1000px; height: 30px">Ajouter un nouvel client</button>
          {{ form_end(form) }}
    </div>
    <div>
        <button class="btn btn-primary btn-danger" style="width: 500px; height: 30px">Supprimer cette fiche</button>
        <button class="btn btn-primary-blue" style="width: 500px; height: 30px">Modifier cette fiche</button>
        <button class="btn btn-primary btn-success" style="width: 1000px; height: 30px">Ajouter un nouvel client</button>
      </div>
</div>



{% endblock %}

{% block stylesheets %}
    <style>
        * {}
        button {
            margin-top: 40px;
            display: flex;
        }
        select{
            width: 80%;
        }
        .en-tete{
            width: 10%;
            display: flex;
            }
        .panel{
        width: 80%;
        }
        .left, .right {
        width: 20%;
        }
        .print, .bl{
        width: 40%;
        }
        .endpage{
        text-align: center
        }
        /*#nom{*/
        /*overflow:scroll;*/
        /*}*/
    </style>
{% endblock %}
